* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* NAVIGATION */
nav ul{
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}
nav li {
    float: left;
}
nav #title {
    font-weight: bold;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover {
    background-color: #111;
}

/* LOGIN & REGISTER */
.login, .register {
    width: 50%;
    margin: 20px;
    padding: 20px;
    background-color: #EEE;
}

.login input, .register input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login button, .register button {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.login button:hover, .register button:hover {
    background-color: #111;
}


/* TASKS */
#greeting {
    margin: 20px;
}

.tasks {
    width: 50%;
    margin: 20px;
    padding: 20px;
    background-color: #EEE;
}

.tasks input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.tasks button {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.tasks button:hover {
    background-color: #111;
}